@charset "UTF-8";
/**
 * Description
 * @authors Your Name (you@example.org)
 * @date    2018-06-07 21:21:13
 * @version 1.0.0
 */

/*** reset ***/
html { font-size: 125%; }
html, body { height: 100%; }
html, body, blockquote, caption, div, span, dl, dt, dd, h1, h2, h3, h4, h5, h6, hr,
iframe, fieldset, form, frame, input, textarea, select, legend, object, ol, ul, li, p, pre, q, table, tr, th, td, button, a { margin: 0; padding: 0; }
li { list-style: none; }
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block;  margin: 0; padding: 0; }
body {
  font-family: "Nanum Gothic", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
  font-size: 14px;
  line-height: 1.5; 
  color: #252525;
  -webkit-text-size-adjust: none;
  word-break: keep-all;
  word-wrap: break-word;
  -webkit-animation: bugfix infinite 1s; 
}
input[type="text"], input[type="submit"], button, select, textarea {
  border: 1px solid #ececec; border-radius: 5px; font-family: inherit; font-size: inherit; background-color: #fff; outline: none; box-sizing: border-box; -webkit-appearance: none;
}
textarea {
  width: 100%; line-height: 1.5; resize: none; box-sizing: border-box;
}
fieldset { border: none; }
textarea::placeholder,
input::placeholder { font-size: inherit; color: #ccc; }
a, a:link, a:visited, a:active, a:hover { 
  color: inherit; text-decoration: none; outline: none; cursor: pointer;
}
input[type="text"], input[type="submit"], button { cursor: pointer; }
table { table-layout: fixed; width: 100%; border-collapse: collapse; }
div, section, table, th, td, dl, dt, dd, ul, ol, li, span, a, fieldset { box-sizing: border-box; }
em, address { font-style: normal; }
img { vertical-align: top; }
hr { display: none; }
iframe { width: 100%; height: 100%; border: none; }

